body {
    background-image: linear-gradient(rgb(12, 20, 0), #0f0038);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#map-container {
    display: flex;
    column-gap: 25px;
}

#heading {
    color: aliceblue;
    opacity: 90%;
    margin: auto;
    text-align: center;
    font-family: Georgia;
    font-size: 200%;
    font-weight: 20;

}