* {
    font-family: Georgia;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgb(12, 20, 0), #0f0038);
    height: 100%;
    overflow: hidden;
}
#vis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
#side-panel {
    background-color: white;
    display: flex;
    width: 225px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    height: 100%;
}
#map-container {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
#north-container {
    grid-column: 1;
    grid-row : 2;
}
#south-container {
    grid-column: 2;
    grid-row: 2;
}
h1 {
    grid-column: 1 / 3;
    grid-row: 1;
    color: aliceblue;
    opacity: 90%;
    text-align: center;
    font-size: 250%;
    font-weight: 20;
}
h2 {
    color: aliceblue;
    opacity: 90%;
    text-align: center;
    font-size: 100%;
    font-weight: 20;
    padding: 10px;
}

/* datatip styles */
#datatipImg {
    margin: 10px 0px;
    background-color: black;
}
.history {
    font-size: 12px;
    overflow-y: scroll;
}
#returnToSearch {
    width: 225px;
    margin-bottom: 10px;
}

/* searching styles */
#dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: scroll;
}
#searchInput {
    font-size: 14px;
    padding: 14px 20px 12px 12px;
    border: none;
    border-bottom: 1px solid #ddd;
    width:225px;
    position: sticky;
    top: 0;
}
#searchInput:focus {
    outline: 3px solid #ddd;
}
#constellationDropdown {
    background-color: #ffffff;
}	
#constellationDropdown option {
    color: black;
    padding: 8px 12px; 
    text-decoration: none;
    display: block;
    width:225px;
    margin: 0px;
    font-size: 14px;
}
#constellationDropdown option:hover {
    background-color: #eeeeee;
}
.hidden {
    display: none !important;
}
::-webkit-scrollbar {
    width: 0px;
}
  