html,
body,
#root {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    background-color: #F0F4EF;
    font-family: 'Arsenal', sans-serif;
}

#app
{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.info-button-container
{
    margin: 10px;
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    top: 0;
    right: 0;

    min-width: 30px;
    min-height: 30px;

}

.info-button
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0;
    font-family: 'Arsenal', sans-serif;
    background-color: #ECB16D;
    color: #FFFFFF;
    border: none;
    font-size: 100%;

}

.info-popup
{
    position: absolute;
    left: 25%;
    top: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 50vh;
    z-index: 100;
    background-color: #ECB16D;
    border-radius: 56px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 25%));
    color: white;
    word-wrap: break-word;
    margin: auto;
    min-height: 200px;
}

.info-how-to
{
    display: flex;
    flex-direction: column;
    margin: 1vw;
    align-items: center;
    
}

h1 {
    font-size: 2vw;
}

h2 {
    font-size: 1.5vw;
}

h3 {
    font-size: 1vw;
}

.info-popup h1 {
    margin: 0;
}

.info-popup p
{
    margin: 10px 100px;
    text-align: center;
    font-size: 1vw
}

.info-popup button
{
    font-family: 'Arsenal', sans-serif;
    margin: auto;
    background-color: #EBCCA9;
    border-radius: 25px 25px;
    width: 10vw;
    font-size: 1vw;
    height: 3vh;
    border: none;
    color:white;
    min-height: 20px;
}

.climb-panel
{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 2vw;
}

.climber-panel
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECB16D;
    width: 15vw;
    height: 50vh;
    border-radius: 56px;
    margin: 30px
}

.climber-name-display
{
    color: white;
    text-align: center;
    margin: 20px;
    width: 100%;
}

.climber-name-display h1
{
    margin: 0px;
    font-size: 2vw;
    text-transform: capitalize;
}

.avatar
{
    border-radius: 50%;
    width: 10vw
}

.change-climber-button-container
{
    display: flex;
    margin-top: 3vh;   
    width: 100%;
    height: 4vh;
}

.change-climber-button
{
    font-family: 'Arsenal', sans-serif;
    margin: auto;
    background-color: #EBCCA9;
    border-radius: 25px 25px;
    width: 50%;
    height: 100%;
    border: none;
    color:white;
    font-size: 2vh;
}

.route-container
{
    background-color: #FFFFFF;
    height: 90vh;
    width: 30vw;
    border-radius: 56px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 16%));
}

.climber-select
{
    display: flex;
    flex-wrap: wrap;
    padding: 7%;
}

.climber-icon-container
{
    background-color: white;
    border-radius: 20px;
    flex: 1 0 25%;
    margin: 2%;
    height: 100px; 
    padding: 5px;
    text-align: center;
    flex-grow: 0;
}

.climber-icon-container:hover
{
    background-color: #EBCCA9;
}

.climber-icon 
{
    height: 60%;
    margin: 5px;
    border-radius: 5px;
}

.climber-icon-container h4 {
    margin: 0px;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}